extends layout

block content
	h2= flix.title
	each file in files
		p
			if file.indexOf('mp4') > 0
				if flix.path.indexOf('tom-n-jerry') > -1
					a(href='/watch?file=#{flix.path}#{file}')
						img(style='max-width:200px' src='/image?file=cartoons/tom-n-jerry/#{file.replace("mp4", "jpg")}')
				else
					a(href='/watch?file=#{flix.path}#{file}')=file
			else
				a(href='/flix?path=#{flix.path}#{file}')=file
