extends layout

block content
	h2 TV
	each channel in channels
		p
			a(href='/tv/#{channel.slug}')=channel.title
	h2 Select & Watch
	each channel in channels
		p
			a(href='/flix?path=#{channel.slug}')=channel.title
