extends layout

block content
	video(width='720', height='576', controls, autoplay)
		source(type='video/mp4')
	div
		button(id='rew') <<
		button(id='for') >>
		button(id='prev') <
		button(id='next') >
		button(id='fs') Full screen
	script(src='/javascripts/jquery.js')
	script(src='/javascripts/tv.js')
	script(src='/javascripts/fs.js')
