body {
	background: #000;
	padding: 50px;
	font-family: sans-serif;
	color: #666;
	text-align: center;
	font-size: 1.6em;
}

a {
	color: #fff;
	text-decoration: none;
}

#fs:focus, #fs:active {
	outline: none;
}
